@import 'base/*';

* {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
}

body {
  background-color: #F1F0EF;
  color: #0E110A;
}

[class *= "__container"], .container {
  max-width: 1362px;
  padding: 0 18px;
  min-width: 360px;
  margin: 0 auto;
}

.section {
  background-color: #F1F0EF;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    transition: .2s ease;
    
    svg path {
      transition: .2s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        background: white;

        svg path {
          fill: #0E110A;
        }
      }
    }
  }
}

.rel {
  position: relative;
}

.title {
  font-weight: 300;
  font-size: 18px;
  line-height: 139%;
}

.fiers {
  position: absolute;
  left: 53px;
  top: -93px;
  animation-name: scale;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@import 'blocks/*';