.hero_cx-marketing {
  color: white;
  background: linear-gradient(180deg, #191A1B 12.94%, #0F120B 100%);
  background-size: 100% calc(100% - 224px);
  padding: 18px 0 0;
  min-height: auto;

  @media (max-width: 1100px) {
    background-size: 100% 100%;
    padding-bottom: 95px;
  }

  .hero {

		&__container {
      position: relative;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: block;

      &::before {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        top: -8px;
        right: 0;
        content: '';
        background: url(../img/bg/hero/cx-marketing.webp) no-repeat center / contain, transparent;
        width: clamp(519px, 13.213rem + 48.06vw, 866px);
        aspect-ratio: 886 / 794;
        mix-blend-mode: lighten;

        @media (max-width: 1100px) {
          top: 248px;
          right: -60px;
        }
      }
		}

		&__content {
      position: relative;
      margin-top: clamp(45px, -4.778rem + 18.98vw, 182px);
      max-width: 513px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
		}

		&__title {
      position: relative;
      font-size: clamp(50px, 1.463rem + 4.16vw, 80px);
      line-height: 88%;
      letter-spacing: -0.05em;
      margin-bottom: clamp(10px, -0.372rem + 2.49vw, 28px);

      &::before {
        content: '';
        z-index: 1;
        position: absolute;
        width: 375px;
        aspect-ratio: 375 / 398;
        background: rgba($color: #D9D9D9, $alpha: .22);
        border-radius: 100%;
        filter: blur(175px);
        top: -88px;
        right: -98px;
        
        @media (max-width: 1100px) {
          display: none;
        }
      }
		}

		&__descr {
      font-size: 16px;
      line-height: 139%;
      letter-spacing: -0.05em;
      margin-bottom: clamp(10px, -0.372rem + 2.49vw, 28px);
		}

    &__btn {
      margin-bottom: clamp(68px, 3.973rem + 0.69vw, 73px);
    }

    &__note {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: flex-end;
      font-size: clamp(20px, 1.028rem + 0.55vw, 24px);
      line-height: 139%;
      letter-spacing: -0.05em;

      span {
        display: flex;
        gap: clamp(8px, -0.220rem + 1.80vw, 21px);
      }

      span + span {
        display: flex;
        margin-top: -4px;
        transform: translateX(50%);
      }

      @media (max-width: 1100px) {
        align-self: flex-start;

        svg path {
          fill: white;
        }
      }
    }

		&__info {
      position: relative;
      z-index: 2;
      display: flex;
      gap: 10px 20px;
      margin-top: 88px;

      .info-item {
        flex: 1 1 auto;
      }

      @media (max-width: 1100px) {
        flex-direction: column;
      }
		}

    &__bottom-bg  {
      margin-top: -105px;
      background: #191A1B;
      height: 224px;

      @media (max-width: 1100px) {
        display: none;
      }
    }
}
}