.about-yadirect {
  padding: clamp(47px, 1.109rem + 4.57vw, 80px) 0;

		&__container {
		}

		&__title {
		}

		&__content {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      @media (max-width: 940px) {
        flex-direction: column;
      }
		}

		&__image {
      display: flex;
      max-width: calc(535px / 1362px * 100%);
      height: auto;

      @media (max-width: 940px) {
        max-width: 330px;
        width: 100%;
      }

      &[mouseevent="leave"] {
        transition: .3s ease;
      }
		}

		&__text-wrap {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      svg {
        margin-top: clamp(24px, 1.057rem + 1.11vw, 32px);
        margin-bottom: clamp(20px, 1.028rem + 0.55vw, 24px);
      }
		}

		&__subtitle {
      font-size: clamp(24px, 0.669rem + 2.08vw, 39px);
      line-height: 132%;
      letter-spacing: -0.05em;
      color: #0E110A;

      span {
        opacity: 0.3;
      }
		}

		&__text {
      font-weight: 300;
      font-size: clamp(16px, 0.889rem + 0.28vw, 18px);
      line-height: 139%;
      color: #0E110A;
		}
}