.about-video {
  position: relative;
  height: clamp(309px, -2.848rem + 55.40vw, 709px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;

  &>button {
    position: relative;

    img {
      pointer-events: none;
      width: clamp(64px, -0.986rem + 12.47vw, 154px);
    }
  }

  iframe {
    pointer-events: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s ease;
  }

  &.--active iframe {
    pointer-events: all;
    opacity: 1;
  }
}
