.about-cx-market {
  padding-top: clamp(75px, -2.847rem + 18.84vw, 211px);
  padding-bottom: clamp(32px, -9.524rem + 28.81vw, 240px);

  &__wrapper {
    padding: clamp(30px, 1.210rem + 1.66vw, 42px) 0;
    background: rgba($color: #060606, $alpha: .03);

    @media (max-width: 640px) {
      padding-top: 91px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @media (max-width: 640px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    flex: 1 0 calc(685px / 1362px * 100%);
    display: flex;
    flex-direction: column;

    @media (max-width: 640px) {
      align-items: center;
    }
  }

  &__text {
    font-weight: 400;
    font-size: clamp(16px, 0.224rem + 1.94vw, 30px);
    line-height: 132%;
    letter-spacing: -0.05em;
    color: #0E110A;
    margin-bottom: 9px;

    strong {
      font-weight: 600;
    }
  }

  &__btn {
    max-width: 271px;
    width: 100%;
  }

  &__image {
    position: relative;
    display: flex;
    height: 1px;
    flex: 0 0 calc(597px / 1362px * 100%);
    align-items: center;

    img {
      position: absolute;
      display: flex;
      width: 100%;
      height: auto;
    }

    @media (max-width: 640px) {
      width: 144px;
      align-items: flex-end;
      margin-bottom: 12px;
    }
  }
}