.cases {
  background: #0F120B;
  color: white;
  padding: clamp(29px, -0.016rem + 4.57vw, 62px) 0;

    .aim-icon {
      position: fixed;
      pointer-events: none;
      left: 0;
      top: 0;
      z-index: 1;
      translate: -50% -50%;
      transform: scale(0);
      transition: .3s ease;
      transition-property: transform, opacity;
      opacity: 0;

      &.--hover {
        opacity: 1;
        transform: scale(1);
      }

      &.--in-item {
        transform: scale(.4);
      }
    }

		&__bg-text {
      display: none;
      position: fixed;
      top: 264px;
      left: 50%;
      translate: -50% 0;
      font-size: 298.991px;
      line-height: 136%;
      letter-spacing: -0.05em;
      color: rgba(255, 255, 255, 0.02);
      pointer-events: none;
		}

		&__container {
      position: relative;
		}

		&__title {
      margin-bottom: clamp(33px, -0.209rem + 5.68vw, 74px);
		}

    &__content {
      display: grid;
      grid-template-columns: 530px 319px 309px;
      justify-content: space-between;
      align-items: flex-start;

      .case-short {

        &:nth-child(3n - 1) {
          margin-top: 481px;
          
          img {
            height: 335px;
          }
        }

        &:nth-child(3n) {
          margin-top: -89px;
  
          img {
            height: 268px;
          }
        }

        @media (max-width: 1200px) {
          &:nth-child(3n-1) {
            margin-top: 0;
            img {
              height: 359px;
            }
          }
          &:nth-child(3n) {
            margin-top: 0;
            img {
              height: 359px;
            }
          }
        }
      }

      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
      }

      @media (max-width: 940px) {
      }
    }
}