.contacts {

  &__title {
    font-size: 14px;
    line-height: 193%;
    color: rgba(255, 255, 255, 0.42);
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 11px;
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    a {
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: rgba(255, 255, 255, 0.42);
        }
      }
    }
  }
}