.faq {
  position: relative;
  padding-top: clamp(50px, 2.460rem + 1.66vw, 62px);
  padding-bottom: clamp(50px, 1.851rem + 3.19vw, 73px);

  &__before-icon {
    position: absolute;
    content: '';
    pointer-events: none;
    width: 101px;
    height: 101px;
    background: url(../img/ask-icon.webp) no-repeat center / contain;
    top: 71px;
    left: -101px;
    z-index: 1;
    rotate: -15deg;
  }

	&__container {
    
	}

	&__title {
    position: relative;
    z-index: 2;
    margin-bottom: clamp(13px, -0.628rem + 3.60vw, 39px);
	}

	&__content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @media (max-width: 940px) {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
	}

	&__content-coll {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 940px) {
      gap: 5px;
    }
	}
}
