.h-site-create {
  $bRadius: clamp(40px, -2.486rem + 12.47vw, 130px);
  position: relative;
  background: url(../../img/bg/h-site-create-vectors.svg) no-repeat, url(../../img/bg/h-site-create-rounds.webp) repeat-x, #1A1717;
  background-position: center calc(100% + 180px), right -82px;
  background-size: 100%, clamp(870px, 15.317rem + 97.65vw, 1575px);
  color: white;
  padding-top: clamp(124px, 7.030rem + 1.80vw, 137px);
  padding-bottom: clamp(46px, 2.266rem + 1.52vw, 57px);
  border-radius: 0 0 $bRadius $bRadius;
  margin-bottom: calc(-1 * $bRadius);

  @media (max-width: 1730px) {
    background-position: -98px calc(100% + 180px), right -82px;
    background-size: auto, clamp(870px, 15.317rem + 97.65vw, 1575px);
  }

  @media (max-width: 640px) {
    background-position: -98px 120px, right -82px;
  }

		&__container {
      
		}

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 48px 20px;


      @media (max-width: 640px) {
        flex-direction: column;
        align-items: center;
      }
    }

		&__title-wrap {

		}

		&__title {
      font-weight: 600;
      font-size: clamp(38px, 0.935rem + 3.60vw, 64px);
      line-height: 120%;
      margin-bottom: clamp(6px, 0.153rem + 0.55vw, 10px);
		}

		&__descr {
      font-size: clamp(12px, 0.307rem + 1.11vw, 20px);
      line-height: 120%;
      letter-spacing: -0.05em;
      color: rgba(255, 255, 255, 0.64);
		}
    
    &__image {
      

      img {
        width: 100%;
        max-width: max-content;
        height: auto;
        display: flex;
      }
    }

		&__list {
      margin-top: 50px;
      grid-column: 1 / 3;
      display: flex;
      gap: 25px 23px;

      @media (max-width: 940px) {
        flex-direction: column;
      }
		}

		&__item {
      position: relative;
      flex: 1 0;
      isolation: isolate;
      background: rgba(255, 255, 255, 0.14);
      backdrop-filter: blur(2.01655px);
      border-radius: 11px;
      padding: 19px;
      padding-right: 73px;

      img {
        position: absolute;
        top: 8px;
        right: 8px;

        filter: drop-shadow(-16.8583px 25.7609px 0px rgba(244, 77, 4, 0.01)) 
          drop-shadow(-10.7969px 16.4794px 0px rgba(244, 77, 4, 0.05)) 
          drop-shadow(-6.0614px 9.28152px 0px rgba(244, 77, 4, 0.16)) 
          drop-shadow(-2.65186px 4.16721px 0px rgba(244, 77, 4, 0.28)) 
          drop-shadow(-0.757675px 0.947094px 0px rgba(244, 77, 4, 0.32));
      }

      @media (max-width: 640px) {
        margin-top: 27px;
        margin-right: 20px;

        img {
          top: -27px;
          right: -20px;
          width: 54px;
          height: auto;
        }
      }
		}

		&__item-title {
      font-weight: 500;
      font-size: 13px;
      line-height: 120%;
      letter-spacing: -0.05em;
      margin-bottom: 11px;

      @media (max-width: 640px) {
        font-size: 16px;
        margin-bottom: 7px;
      }
		}

		&__item-text {
      font-size: 15px;
      line-height: 120%;
      letter-spacing: -0.05em;
		}
}
