.h-yadirect {
  padding-top: 111px;
  padding-bottom: clamp(40px, -0.824rem + 8.31vw, 100px);
  padding-top: clamp(102px, 5.876rem + 1.25vw, 111px);
  background-color: #0F120B;
  color: white;

  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    gap: 25px 45px;

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
    }
  }

  &__title {
    position: relative;
    font-size: clamp(32px, 0.726rem + 3.19vw, 55px);
    line-height: 125%;
    letter-spacing: -0.05em;
    flex: 0 1 737px;

    &::before {
      position: absolute;
      content: '';
      width: 396px;
      height: 277px;
      top: -235px;
      left: -100px;
      background: rgba(217, 217, 217, 0.22);
      filter: blur(175px);
      border-radius: 100%;
    }

    @media (max-width: 640px) {
      flex: auto;
    }
  }

  &__image {
    position: relative;
    flex: 0 0 calc(439px / 1362px * 100%);

    ._round {
      position: absolute;
      width: 60%;
      height: auto;
      left: -4px;
      top: 9%;
      pointer-events: none;
    }
  
    ._main {
      position: relative;
      width: 100%;
      height: auto;
    }
  
    ._r-arrow {
      position: absolute;
      width: 30%;
      height: auto;
      bottom: 12%;
      right: -0.5%;
      pointer-events: none;
    }

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      width: 89%;
      aspect-ratio: 1 / 1;
      background: #2762F8;
      opacity: 0.2;
      filter: blur(175px);
      left: -7%;
      bottom: 0;
    }

    @media (max-width: 640px) {
      flex: auto;

      ._r-arrow {
        bottom: 21%;
      }
    }
  }

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px 30px;
    margin-top: 14px;

    @media (max-width: 940px) {
      grid-template-columns: 1fr;
      margin-top: 28px;
    }
  }

  &__card {
    flex: 1 1 auto;
    background: #1F2022;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: clamp(18px, 0.682rem + 1.11vw, 26px);
    transition: .3s ease border;
    border: 1px solid transparent;

    @media (any-hover: hover) {
      &:hover {
        border-color: #575B61;
      }
    }

    &[mouseevent="leave"] {
      transition-property: border, translate;
    }

    &[mouseevent="enter"] {
      transition-property: border, translate;
    }
  }

  &__card-icon {
    padding: clamp(9px, 0.452rem + 0.28vw, 11px);
    display: flex;
    background: #0F120B;
    border-radius: clamp(6px, 0.043rem + 0.83vw, 12px);

    svg {
      filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.6));
      width: clamp(38px, 1.821rem + 1.39vw, 48px);
      height: auto;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: clamp(17px, 1.007rem + 0.14vw, 18px);
    line-height: 135%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-top: clamp(12px, 0.418rem + 0.83vw, 18px);
    margin-bottom: clamp(6px, 0.264rem + 0.28vw, 8px);
  }

  &__card-text {
    font-weight: 300;
    font-size: clamp(16px, 0.945rem + 0.14vw, 17px);
    line-height: 135%;
  }
}