.header {
  font-family: 'Graphik LCG';
  padding: clamp(10px, -0.196rem + 2.43vw, 30px) 0;

  &.--active {
    background-color: #0D100A;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-btn {
    width: 35px;
    height: 35px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    span {
      transition: .2s ease;
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 4px;
      background-color: #FF8D27;
    }

    &.--active {
      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(1) {
        transform: translate(6px, -2px) rotate(45deg);
        transform-origin: left top;
      }

      span:nth-child(3) {
        transform: translate(6px, 5px) rotate(-45deg);
        transform-origin: left bottom;
      }
    }

    @media (max-width: 1280px) {
      display: flex;
    }
  }

  &__nav {

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &__tel {
    transition: .2s ease;
    font-weight: 500;
    font-size: clamp(16px, 0.877rem + 0.36vw, 19px);
    line-height: 139%;
    letter-spacing: -0.05em;
    margin-left: auto;
    margin-right: auto;

    @media (any-hover: hover) {
      &:hover {
        color: rgba(255, 255, 255, 0.37);
      }
    }

    @media (max-width: 1280px) {
      font-weight: 400;
    }
  }

  &__btn {
    flex: 1 0 auto;
    max-width: 450px;

    @media (max-width: 540px) {
      display: none;
    }
  }
}

