.hero {
  position: relative;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;

  background-color: #0F120B;
  background-size: cover;

  &>* {
    position: relative;
  }

	&__container {
    width: 100%;
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: clamp(40px, -0.456rem + 8.76vw, 112px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 640px) {
      margin-top: 0;
      margin-bottom: auto;
      align-items: center;
    }
	}
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

	&__title {
    font-size: clamp(42px, 1.065rem + 4.62vw, 80px);
    line-height: 136%;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin-bottom: clamp(24px, 1.089rem + 1.22vw, 34px);

    @media (max-width: 640px) {
      margin-bottom: 8px;
    }
	}

	&__text-wrap {

    svg {
      margin-bottom: clamp(20px, 0.470rem + 2.31vw, 39px);

      @media (max-width: 640px) {
        display: none;
      }
    }

    p {
      font-size: 20px;
      line-height: 139%;
      letter-spacing: -0.05em;
    }
	}
}

@import 'mods/hero_cx-marketing';