.menu {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0;
  opacity: 0;
  transition: .3s ease;
  background-color: #0D100A;
  box-shadow: 0 0 10px #0D100A;

  &.--active {
    max-height: 10000px;
    padding-bottom: 20px;
    opacity: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__nav {

    .nav {

      &__list {
        flex-direction: column;
        max-width: 600px;
      }

      &__sublist {
        gap: 3px;
        position: static;
        display: flex;
        flex-direction: column;
      }

      &__item.rel.--active &__sublist {
        margin-top: 5px;
      }

      &__subitem {
        a {
          padding: 6px 25px;
        }
      }
    }
  }
}