.nav {

  &__list {
    display: flex;
    gap: 10px;
  }

  &__sublist {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    transition: .4s ease;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
  }

  &__item {

    &>a {
      display: block;
      font-size: 16px;
      line-height: 139%;
      letter-spacing: -0.05em;
      color: rgba(255, 255, 255, 0.37);
      padding: 8px 25px;
      background: rgba(217, 217, 217, 0.1);
      border-radius: 10px;
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: #0E110A;
          background: white;
        }
      }
    }
  }

  &__item.rel>a {
    @media (any-hover: hover) {
      &:hover {
        color: white;
        background: #FF8D27;
      }
    }
  }

  &__item.rel.--active>a {
    color: white;
    background: #FF8D27;
  }

  &__item.rel.--active &__sublist {
    opacity: 1;
    max-height: 10000px;
    margin-top: 14px;
    pointer-events: all;
  }
  
  @media (any-hover: hover) {

    &__item.rel:hover>a {
      color: white;
      background: #FF8D27;
    }

    &__item.rel:hover &__sublist {
      opacity: 1;
      max-height: 10000px;
      margin-top: 14px;
      pointer-events: all;
    }
  }

  &__subitem {

    a {
      display: block;
      padding: 11px 25px;
      font-size: 14px;
      line-height: 139%;
      letter-spacing: -0.05em;
      color: #0E110A;
      background: #FFFFFF;
      border-radius: 10px;
      transition: .2s ease;

      @media (any-hover: hover) {
        &:hover {
          background: #FF8D27;
          color: white;
        }
      }
    }
  }
}