.page-nav {
  font-family: 'Graphik';

  a {
    color: rgba(151, 151, 151, 0.37);
    letter-spacing: -0.05em;
    font-size: 14px;
    line-height: 139%;
    transition: .2s ease;

    &::after {
      content: ' / ';
    }

    @media (any-hover: hover) {
      &:hover {
        color: #979797;
      }
    }
  }

  a._this {
    color: #979797;

    &::after {
      content: none;
    }
  }
}
