.services {
  padding-top: clamp(25px, 1.008rem + 1.39vw, 35px);
  padding-bottom: clamp(50px, 0.854rem + 5.68vw, 91px);

	&__container {
	}

	&__title {
	}

	&__list {
    margin-top: 33px;
	}

	&__item {
    position: relative;
    cursor: pointer;
    border-top: 1px solid #D9D9D9;
    transition: .3s ease;
    padding-top: clamp(25px, 0.898rem + 1.66vw, 37px);
    padding-bottom: clamp(15px, 0.273rem + 1.66vw, 27px);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba($color: #060606, $alpha: 0.03);
      transform: scaleX(0);
      transform-origin: left;
      transition: .5s ease;
    }
    
    .container {
      position: relative;
      padding-left: 79px+18;
      padding-left: calc(clamp(35px, -0.250rem + 6.09vw, 79px) + 18px);
      display: flex;
      flex-direction: column;
    }

    ._icon {
      position: fixed;
      pointer-events: none;
      z-index: 1;
      top: 0;
      left: 0;
      width: 500px;
      height: 500px;
      transform: translate(-50%, -50%) scale(0) rotateZ(80deg);
      opacity: 0;
      transition: .3s ease;
      transition-property: opacity, transform;
      animation: jump 1s ease infinite;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: 640px) {
        opacity: 1;
        transform: scale(1) rotateZ(0deg) !important;
        position: absolute;
        width: 148px;
        height: 148px;
        top: -10px;
        right: 11px;
        left: auto;
      }
    }

    @media (any-hover: hover) {
      &:hover ._icon {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotateZ(0deg);
      }
    }
	}

  @media (any-hover: hover) {
    &__item:hover {

      &::before {
        transform: scaleX(1);
      }
    }

    &__item:hover &__item-btn {
      display: flex;
    }
  }

	&__item-title {
    z-index: 2;
    font-weight: 500;
    font-size: clamp(32px, 1.058rem + 2.35vw, 49px);
    line-height: 132%;
    letter-spacing: -0.05em;
    margin-bottom: 12px;

    b {
      position: absolute;
      left: 18px;
      top: clamp(16px, 0.446rem + 1.39vw, 26px);
      font-weight: 300;
      font-size: 18px;
      line-height: 1;
    }
	}

	&__sublist {
    z-index: 2;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 900px;

    @media (max-width: 640px) {
    }
	}

	&__subitem {
    font-size: clamp(11px, 0.410rem + 0.69vw, 16px);
    line-height: 139%;
    letter-spacing: -0.05em;
    padding: 8px 31px 10px;
    background: rgba(217, 217, 217, 0.7);
    border-radius: 10px;
    transition: .2s ease;

    @media (any-hover: hover) {
      &:hover {
        background: rgba(217, 217, 217, 0.3);
      }
    }

    @media (max-width: 640px) {
      font-size: 14px;
      padding: 4px 9px;
    }
	}

	&__item-btn {
    z-index: 2;
    margin-top: 10px;
    display: none;
    max-width: 296px;

    @media (max-width: 640px) {
      // display: flex !important;
      max-width: none;
    }
	}
}