.services-review {

		&__container {
		}

		&__wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: rgba(217, 217, 217, 0.31);
      border: 1px solid #A8A9A7;
      border-radius: 10px;
      padding: clamp(11px, 0.410rem + 0.69vw, 16px) 10px;
      gap: 5px 19px;

      @media (max-width: 540px) {
        flex-direction: column;
        align-items: center;
      }
		}

		&__image {
      display: flex;
		}

    &__text-wrap {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      line-height: 180%;
      color: #000000;
    }

		&__text {

      svg {
        margin-left: 5px;
      }
		}

		&__note {
      margin-left: 10px;
      font-size: 13px;
      line-height: 20px;
      color: rgba(14, 17, 10, 0.36);
      padding-left: 10px;
      border-left: 1px solid #9F9F9D;
		}
}